html {
	font-family: Helvetica, sans-serif;
	font-size: .75em;
	line-height: 1.2em;
	font-weight: 200;
	color: white;
}

body {
	padding: 0;
	margin: 0;
}

header {
	background-image: url(../img/header-img.jpg);
	background-size: 100%;
	display: block;
	width: 100%;
	margin-bottom: 2%;
}

.logo {
	width: 40%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}


h1 {
	text-align: center;
	letter-spacing: 0.5em;
	font-family: Helvetica, sans-serif;
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 200;
	color: white;
	margin-top: -0.25em;
}

.flex-img {
	width: 100%;
}

nav ul,
nav li {
	list-style-type:none;
	display: inline-block;
	text-align: center;
	letter-spacing: 0.5em;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 200;
	color: white;
	margin-top: -0.25em;
}


.grid {
	width: 95%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	overflow:hidden ;
	padding: 2%;
}

.one,
.two,
.three {
	width: 100%;
}

.bucket img {
	width: 100%;
	margin: 1% 1% 1% 1%;
}

.drop-shadow {
		box-shadow: 2px 2px 2px #CCC;
	-webkit-filter: grayscale(100%);
 -webkit-transition: all .6s ease; 
    -webkit-backface-visibility: hidden; 
}

.drop-shadow:hover {
	-webkit-filter: none;
}


p {
	font-size: 1.2em;
	line-height: 1em;
	text-align: left;
	color: black;
}

footer {
	color: black;
	font-size: 1.25em;
	text-align: center;
	border-top: dotted 0.1em #666;
	padding-top: .5%;
	padding-bottom: 1%;
	width: 90%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
	width: 10%;
	padding: 1%;
	margin: 2% 2% 2% 2%;
}

.twitter {
	width: 8%;
	padding: 1%;
	margin: 2% 2% 2% 2%;
}

.instagram {
	width: 6%;
	padding: 1%;
	margin: 2% 2% 2% 2%;
}

@media only screen and (min-width: 50em) {
	
	
	.logo {
		width: 30%;
	}
	
	.grid {
		width: 95%;
	}
		
	.one p,
	.two p,
	.three p {
		width: 50%;
		float: right;
		font-size: 1.25em;
		line-height: 1.25em;
		margin-top: 4em;
		padding-left: 2em;
	}
	
	.one img,
	.two img,
	.three img {
		width: 40%;
		float: left;
		clear: left;
		margin-bottom: 1em;
	}
	
	.contact {
	width: 8%;
	padding: 1%;
}

.twitter {
	width: 6%;
	padding: 1%;
}

.instagram {
	width: 5%;
	padding: 1%;
}
	
	footer {
		width: 90%;
}
}
	
		
@media only screen and (min-width: 80em) {
	.grid {
		width: 80%;
	}
	
	.bucket {
	width: 32%;
	float: left;
	}
	
	.flex-img {
		width: 100%;
	}

	.one,
	.three {
		width: 30%;
		overflow: hidden;
		float: left;
		padding: 1%;
	}
	
	.two {
		width: 30%;
		overflow: hidden;
		float: left;
		padding: 1%;
		position: relative;
		padding-bottom: 390px;
	}

	.two img {
		position: absolute;
		bottom: 0;
	}
	
	.one p,
	.two p,
	.three p {
		float: none;
		width: 100%;
		font-size: 1.35em;
		line-height: 1.2em;
		text-align: center;
		padding-bottom: -2%;
		margin-top: 3em;
		padding: 0;
	}
	
	.one img,
	.two img,
	.three img {
		width: 100%;
		float: none;
	}
	
	.contact {
	width: 4%;
	margin: 1% 1% 1% 1%;
	}
	
	.twitter {
		width: 3%;
		margin: 1% 1% 1% 1%;
	}
	
	.instagram {
		width: 2.5%;
		margin: 1% 1% 1% 1%;
	}
	
	.logo {
		width: 20%;
	}
}



	

